@import "./colors";
@import "./layout";

button {
  color: white;
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  cursor: pointer;
  //padding: 3px 8px;
  border-color: $border-color;
}

button.active {
  background-color: $button_active!important;
  color: black;
  border: 1px solid;
}


button.blue {
  background-color: $button_blue;
}

button.blue:hover {
  background-color: $button_blue_hover;
}

button.light-blue {
  background-color: $button_light_blue;
}

button.light-blue:hover {
  background-color: $button_light_blue_hover;
}